<div class="jumbotron">
    <h1 class="display-3">WildFly Model Reference Documentation</h1>

    <p class="lead">This site provides reference for the management model for the WildFly application server, as well as other
        application servers in the same family such as JBoss EAP 6+, JBoss EAP7 & JBoss AS 7</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/${wildfly.product?url}/${wildfly.version?url}/index.html">WildFly ${wildfly.version} reference &raquo;</a>
    </p>

</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <#if wildfly??>
        <div class="col-lg-4">
            <h2>WildFly</h2>

            <p>WildFly is the next generation of the JBoss AS application server.</p>

            <p><a class="btn btn-info btn-sm" href="/${wildfly.product?url}/${wildfly.version}/index.html">WildFly ${wildfly.version} reference &raquo;</a></p>
        </div>
        </#if>
        <#if eap7??>
        <div class="col-lg-4">
            <h2>JBoss EAP 7.x</h2>

            <p>JBoss EAP 7 is Red Hat's commercial offering based on WildFly code base.</p>

            <p><a class="btn btn-info btn-sm" href="/${eap7.product?url}/${eap7.version?url}/index.html">JBoss EAP ${eap7.version} reference &raquo;</a></p>
        </div>
        </#if>
        <#if eap6??>
        <div class="col-lg-4">
            <h2>JBoss EAP 6.x</h2>

            <p>JBoss EAP 6 is Red Hat's commercial offering based on the AS7 and WildFly
            code base.</p>

            <p><a class="btn btn-info btn-sm" href="/${eap6.product?url}/${eap6.version?url}/index.html">JBoss EAP ${eap6.version} reference &raquo;</a></p>
        </div>
        </#if>
    </div>
</div>
