<div class="jumbotron">
    <div class="container">
        <h1>Wildfly Model Reference Documentation</h1>

        <p>This site provides reference for the management model for the Wildfly application server, as well as other
            application servers
            in the same family such as JBoss EAP 6.x and JBoss AS7</p>

        <p><a class="btn btn-primary btn-lg" href="${wildfly.product?url}/${wildfly.version?url}/index.html">Wildfly ${wildfly.version} reference &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-4">
            <h2>Wildfly</h2>

            <p>Wildfly is the next generation of the JBoss AS application server. TODO: brub</p>

            <p><a class="btn btn-default" href="${wildfly.product?url}/${wildfly.version}/index.html">Wildfly ${wildfly.version} reference &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>JBoss EAP 6.x</h2>

            <p>JBoss EAP 6 is Red Hat's commercial offering based on the AS7 and Wildfly
            code base. TODO: blurb</p>

            <p><a class="btn btn-default" href="${eap.product?url}/${eap.version?url}/index.html">JBoss EAP ${eap.version} reference &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>JBoss AS7</h2>

            <p>TODO: blurb</p>

            <p><a class="btn btn-default" href="${as7.product?url}/${as7.version?url}/index.html">JBoss AS7 ${as7.version} reference &raquo;</a></p>
        </div>
    </div>
</div>
