<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <#if version??>
        <title>${version.product} ${version.version} Model Reference</title>
        <#else>
            <title>WildFly Model Reference</title>
    </#if>
    <meta name="description" content="">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="container">
        <div class="masthead">
            <#if version??>
                <h3 class="text-muted">${version.product} ${version.version} Model Reference</h3>
                <#else>
                <h3 class="text-muted">WildFly  Model Reference</h3>
            </#if>

            <nav class="navbar navbar-expand-md navbar-light bg-light rounded mb-3">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav text-md-center nav-justified w-100">
                        <li class="nav-item active">
                            <a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <!--li class="nav-item ${(page == 'index.html')?string('active', '')}"><a class="nav-link"  href="index.html">Home</a></li-->
                        <li class="nav-item dropdown ${(version??)?string('active', '')}">
                            <a href="#" class="nav-link dropdown-toggle" id="versions" data-toggle="dropdown" aria-haspopup="true"
                                                           aria-expanded="false">Versions</a>
                            <div class="dropdown-menu" aria-labelledby="versions">
                                <#list versions as v>
                                    <a class="dropdown-item ${(version?? && version.product==v.product && version.version==v.version)?string('active','')}"
                                       href="/${v.product?url}/${v.version?url}/index.html">
                                        ${v.product} ${v.version}</a>
                                </#list>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link"  href="https://www.redhat.com/en/technologies/jboss-middleware/application-platform">Get JBoss EAP</a></li>
                        <li class="nav-item"><a class="nav-link"  href="http://www.wildfly.org">Get WildFly</a></li>
                        <li class="nav-item ${(page == '/about.html')?string('active', '')}"><a class="nav-link" href="/about.html">About</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <#include page/>

        <footer class="footer">
            <p>&copy; Red Hat Pty Ltd 2017</p>
        </footer>
    </div>


</div>
<!-- /container -->
<script src="/js/vendor/jquery-3.3.1.slim.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery-3.3.1.slim.min.js"><\/script>')</script>

<script src="/js/vendor/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/vendor/ie10-viewport-bug-workaround.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-46690802-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>
