<ol class="breadcrumb">
    <#list breadcrumbs as crumb>
    <#if crumb_has_next>
    <li class="breadcrumb-item">
        <a href="${relativePathToContextRoot}${crumb.url}">${crumb.label}</a>
    </li>
    <#else>
    <li class="breadcrumb-item active">${crumb.label}</li>
</#if>
</#list>
</ol>

<#list codes as code>
<h3 class="text-muted">${code}</h3>

<div class="table-responsiveg">
    <table class="table table-striped table-responsive">
        <thead>
        <tr>
            <th>Code</th>
            <th>Level</th>
            <th>Return Type</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
        <#list messages[code] as m>
            <tr>
                <td>
                    ${m.id}
                </td>
                <td>
                    ${m.level}
                </td>
                <td>
                    ${m.returnType}
                </td>
                <td>
                    ${m.message}
                </td>
            </tr>
        </#list>
        </tbody>
    </table>
</div>

</#list>