

<#list codes as code>
<h3 class="text-muted">${code}</h3>

<div class="table-responsiveg">
    <table class="table table-striped table-responsive">
        <thead>
        <tr>
            <th>Code</th>
            <th>Level</th>
            <th>Return Type</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
        <#list messages[code] as m>
            <tr>
                <td>
                    ${m.id}
                </td>
                <td>
                    ${m.level}
                </td>
                <td>
                    ${m.returnType}
                </td>
                <td>
                    ${m.message}
                </td>
            </tr>
        </#list>
        </tbody>
    </table>
</div>

</#list>