<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <#if version??>
        <title>${version.product} ${version.version} Model Reference</title>
        <#else>
            <title>WildFly Model Reference</title>
    </#if>
    <meta name="description" content="">
    <link rel="stylesheet" href="${relativePathToContextRoot}css/bootstrap.min.css">
    <link rel="stylesheet" href="${relativePathToContextRoot}css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="${relativePathToContextRoot}css/main.css">
</head>
<body>

<div class="container">
    <div class="masthead">
        <#if version??>
        <h3 class="text-muted my-3">${version.product} ${version.version} Model Reference</h3>
        <#else>
        <h3 class="text-muted my-3">WildFly Model Reference</h3>
        </#if>
    </div>
    <#include page/>
    <hr>

    <footer>
        <p>&copy; Red Hat ${.now?string('yyyy')}</p>
    </footer>
</div>
<!-- /container -->
<script src="${relativePathToContextRoot}js/vendor/jquery-3.4.1.slim.min.js"></script>
<script>window.jQuery || document.write('<script src="${relativePathToContextRoot}js/vendor/jquery-3.4.1.slim.min.js"><\/script>')</script>
<script src="${relativePathToContextRoot}js/vendor/bootstrap.bundle.min.js"></script>
<script src="${relativePathToContextRoot}js/main.js"></script>
<script src="${relativePathToContextRoot}js/vendor/ie10-viewport-bug-workaround.js"></script>

</body>
</html>
